/* #0ECCCC e #377474 */
html, body, .capa {
    min-height: 100%;
    position: relative;
}

body {
    overflow-x: hidden;
}

footer {
    background:#205262;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    z-index: 1;
}

#header-wrap {
    background: #eeeeff;
    position: absolute;
    width: 100%;
    height: 50px;
    top: 0;
    z-index: 1;
}

button:hover {
    opacity: 0.8;
}

/* barra navegação -*/
.img-logo{
    height: 57px;
    display: block;
    background-size: contain;
    color:transparent;
    padding-bottom: 10px; 
}


nav.navbar-transparente{
    padding: 15px 0px;
    border: none;
    background-color: #205262;

}

.navbar-brand{
    padding: 5px 15px;
}

.divisor{
    width: 1px;
    height: 16px;
    background: white;
    margin: 16px 10px;
}

.navbar-inverse .navbar-nav>li>a{
    color: white;
}

.navbar-inverse .navbar-nav>li>a:hover{
    color: #9bf0e1;
}

/* imagem de capa -*/
.telaLogin{
    display: table;
    width: 100%;
    margin-top: 200px
}

.texto-capa{
    text-align: center;
    color: white;
    display: table-cell;
    vertical-align: middle;
    padding-top: 100px;
}

.food1 {
    width:70px;
    height: 70px;
}

.esquecisenha {
    margin-bottom: 30px;
    text-align: center;
    margin-bottom: 10px;
    font-size: 14px;
}


/* botoes*/
.botaologin{
    background-color: red;
    color: white;
}

.item-redesocial{
    float: right;
}


/*teste*/
#myInput {
  background-image: url('searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
    color: black;
    width: 150px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    margin-left: 0;
}

#myTable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
}

#myTable th, #myTable td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
}

#myTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd; 
}

#myTable tr.header, #myTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}


/* When the input field gets focus, change its width to 100% */
#myInput:focus {
    width: 100%;
}

/* campos -*/

.produtoquantidade{
    width: 20px;
}